src/backend/
src/backend/*

src/database/.db/
src/database/.db/*
src/database/.db*
src/database/dump/*
!src/database/dump
!src/database/dump/master-dev.sql

src/files/wp-content/*
src/files
!src/files/mu-plugins
!src/files/themes
!src/files/plugins
!src/files/wp-config.php

daBoss.md

sites
